<!--
Загружаем "скелет"
-->
{% extends 'base.html'%}

{% block title%}{{title}}{%endblock%}

{%block content%}
<!--Вставляем необходимые DOM элементы-->
{% include 'header.html' %}

    <h1>Привет из файла Шаблонизатора</h1>

    {% include "nav.html" %}
    <h3>Наши отзывы</h3>
    <ul>
        {% for review in reviews %}
        <li>{{ review.fullname|upper }} -
            {% if review.email == 'нет данных' %}
                {{ "ДА ДАННЫХ НЕТУ" }}
            {% else %}
                <a href="malito:{{ review.email }}">{{review.email}}</a>
            {% endif %}
            <!-- или <li>{{ review['fullname'] }}</li> -->
        </li>
        {% endfor %}
    </ul>
    {% include "formContact.html" %}
{%endblock%}